@font-face {
    font-family: 'Yanone';
    src: url('../fonts/YanoneKaffeesatz-Light.ttf');
}
@font-face {
    font-family: 'Bahnscrift';
    src: url('../fonts/Bahnschrift.ttf');
}

#contacts_container{
    margin-top:10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left:10%;
    margin-right:10%;
    width:80%;
    
}
#Rev_pages_bar {
    background-color: #07090A;
    margin: 0;
    padding-left: 5dvw;
    padding-right: 5dvw;
}
.Rev_link_container {
    background-color: #07090A;
}

.revTitle {
    margin-top: 100px;
    border-radius: 30px;

    height: 50px;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;

    background-color: #0C0F11;
}
.revText {
    border-radius: 30px;

    margin-left: 50%;
    transform: translateX(-50%);

    background-color: #191F23;
    color: white;
    text-align: center;
    font-size: 35px;
    line-height: 50px;

    height: 50px;
    width: 400px;
}


.ReviewsScrollBar {
    display: flex;
    height: 400px;

    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;

    overflow-x: auto;
}

.revContainer {
    display: flex;
    width: 580px;
    height: 380px;

    background-color: #191F23;
    border-radius: 30px;

    margin-right: 50px;

    flex: 0 0 auto;
}
body{
    height:100dvh;
    background: black ;
}
*{
    font-family: 'Yanone'!important;
    color:white;
}
#social_networks{
    width:80%;
    margin-right:10%;
    margin-left:10%;
}
#contacts_container iframe{
    border-radius: 30px;
    width:40dvw;
    height:40dvh;
}
nav a:hover #TG{
    stroke:#DC9F75;
}
nav a:hover #VK{
    stroke:#DC9F75;
}
nav a:hover #YT path{
    fill:#DC9F75;
}

#contact_info{
    display: flex;
    flex-direction: row;
    width:80%;
}
nav{
    background-color: #0C0F11;
    display: flex;
    justify-content: space-around;
    border-radius: 30px;
    min-width:50%;
    min-height:20%;
    align-items: center;
}
nav p{
    color:#7F7F7F;
}
#information{
    width:50%;
    display: flex;
    flex-direction: column;
    
    justify-items: center;
    align-items: center;
}
#information h2{
    color:white;
    text-align: center;
    font-size:2em;
}
h3{
    font-size:1.5em;
}
h4{
    font-size:1.5em;
    color:#7F7F7F;
}
